@import 'colors', 'mixins';

.avatar-container {
	display: flex;
	gap: 12px;
	align-items: center;
}

.change-photo-text {
	color: color($greyscale, 300);
}

.profile-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 32px;
	margin-bottom: 20px;
}

.profile-avatar-title {
	color: color($greyscale, 300);
}
