@import 'colors', 'mixins';

.modal-answer-content {
  position: relative;
  background-color: $white;
  @include shadow;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  width: 500px;
  border-radius: 12px;
  gap: 16px;
}

.modal-answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}
