@import 'colors', 'mixins';

.team-list-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.team-list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 16px;

  button {
    justify-content: flex-start;
    padding: 2px 2px;
    height: fit-content;
  }
}

.team-list-item-info {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.team-details-text {
  font-size: 11px;
  color: color($greyscale, 300);
}

