$greyscale: (
	1000: #ffffff,
	800: #f9f9f9,
	700: #f4f4f4,
	600: #e9e9e9,
	500: #d8d8d8,
	400: #b8b8b8,
	300: #909090,
	000: #303136,
);

$primary-shades: (
	900: #eff3fd,
	800: #dde6ff,
	700: #c6d5ff,
	600: #4672ee,
	500: #2351d4,
	300: #143fbc,
	100: #0a308b,
);

$green-shades: (
	900: #f1f9e9,
	800: #e4fbcd,
	700: #caf79e,
	600: #8edb42,
	500: #72c221,
	300: #5ba90d,
);

$yellow-shades: (
	900: #fffdf3,
	500: #f5d52c,
);

$orange-shades: (
	900: #fef9f1,
	500: #faa422,
);

$red-shades: (
	900: #fdefec,
	800: #faded8,
	700: #f8beb1,
	600: #fc6c4d,
	500: #f14f2b,
	300: #d9340e,
);

$modal-background: rgba(48, 49, 54, 0.8);

//
// Extracted frequently used colors
//

$black: map-get(
	$map: $greyscale,
	$key: 000,
);

$white: map-get(
	$map: $greyscale,
	$key: 1000,
);

$primary: map-get(
	$map: $primary-shades,
	$key: 500,
);

$secondary: map-get(
	$map: $primary-shades,
	$key: 900,
);

// PTO Type colors
$time_off: map-get(
	$map: $green-shades,
	$key: 500,
);
$sick_leave: map-get(
	$map: $yellow-shades,
	$key: 500,
);
$pending: map-get(
	$map: $greyscale,
	$key: 400,
);
$declined: map-get(
	$map: $red-shades,
	$key: 500,
);

// $primary: pink;
