@import "./colors.scss";
@import "./constants.scss";
@import "./mixins.scss";
@import "./normalize.scss";
@import "./typography.scss";

:export {
	color: {
		black: $black;
		white: $white;
		primary: $primary;
		secondary: $secondary;
	}
}
