@import 'colors', 'mixins';

.side-menu-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  //changed for feedback view forms
  width: fit-content;
}

.add-icon {
  color: color($greyscale, 300);
}

.empty-state {
  display: flex;
  align-items: center;
  cursor: default;
  padding: 0 8px;
  width: 238px;
  border-radius: 12px;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid transparent;
  justify-content: space-between;
}
