@import 'mixins';
@import 'colors';

.form-container {
	display: flex;
	justify-content: flex-start;
	// margin: 0 32%;
}

.form-content {
	display: flex;
	flex-direction: column;
	background-color: $white;
	border-radius: 32px;
	width: min(250px, 90vw);
	height: fit-content;
	gap: 24px;

	&--edit {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
}

.form-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 32px;
}
