@import 'mixins';
@import 'colors';

.log-in-container {
	display: flex;
	flex-direction: column;
	padding: 64px 32px 32px;
	background-color: $white;
	border-radius: 32px;
	@include shadow;
	width: min(356px, 90vw);
	gap: 64px;

	input {
		margin-bottom: 0px;
	}

	button:nth-child(1) {
		margin-top: 40px;
	}
}

.log-in-error {
	display: flex;
	justify-content: center;
	background-color: $white;
	border-radius: 32px;
	color: color($red-shades, 300);
	margin-bottom: 16px;
}
