@import 'colors', 'mixins';

.question-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color($primary-shades, 500);
    border-radius: 50%;
    min-width: 24px !important;
    min-height: 24px !important;
    align-self: center;
    color: color($greyscale, 1000);
  }
  
  .question-number-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 4px;
  }